#blog{
    margin-top: 160px;
    padding: 60px 0;
    position: relative;
    height: 70vh;
    z-index: 2;
    background-color: #f8f9fa;
}

#blog::before{
    content: "";
    position: absolute;
    background-color: #f8f9fa;
    z-index: -1;
    width: 100%;
    height: 200px;
    bottom: 70%;
    transform: skewY(-6deg);
}

#blog::after{
    content: "";
    position: absolute;
    background-color: #f8f9fa;
    z-index: -1;
    width: 100%;
    height: 520px;
    bottom: -90%;
    transform: skewY(-6deg);
}

.all-blogs{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 60px 0;
}

.blog{
    width: 50%;
}

.blog img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.blog-desc{
    padding: 20px 20px 30px 20px;
    background-color: #fff;
}

.blog-desc h2{
    transition: .3s all ease;
    color: #ff7404;
    font: 500 18px arial;
    line-height: 1.2;
    cursor: pointer;
}

.blog-desc h2:hover{
    color: #b75100;
}

.blog-desc h5 {
    font: 400 12px arial;
    line-height: 1.8;
    color: #999;
    margin: 8px 0;
}

.blog-desc p {
    font: 400 14px arial;
    line-height: 1.8;
    color: #868e96;
    margin-bottom: 16px;
}

.blog-desc a {
    padding: 8px 18px;
    font: 500 10px arial;
    outline: none;
    background-color: #ff7404;
    border-color: #ff7404;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: 0.3s;
}

.blog-desc a:hover{
    background-color: #ff9037;
    border-color: #ff9037;
}